* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: rgb(42, 42, 42);
}

.userInputField {
  /* border: 1px solid rgb(157, 149, 149); */
  width: 80vw;
  height: 60px;
  margin: -25px 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.todos {
  width: 75vw;
  height: 63vh;
  background-color: #85888e;
  margin: 70px auto;
  padding: 15px 35px;
}

.custom-toast {
  width: fit-content;
}

@media (max-width: 640px) {
  .userInputField {
    width: 100vw;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  .todos {
    width: 95%;
    padding: 8px;
  }
}

@media (max-width: 1024px) {
  .todos {
    width: 100%;
  }
}
